.page1 {
  text-align: center;
  font-size: 1.8vw;
}
.page1 input {
  width: 2.6vw;
  padding: .2vw;
  font-size: 1.5vw;
}
.page1 button {
  display: block;
  margin: 3vw auto;
}
.page1 .hint {
  border-radius: 5px;
  border-color: #555;
  border-style: solid;
  border-width: 1px;
  font-size: 1vw;
  width: 10vw;
  padding: .5vw;
  background-color: #eee;
  color: #555;
  display: inline-block;
}
.page1 .invisible {
  display: none;
}

.container-center {
  margin: auto;
}
.container-center .rows {
  text-align: center;
  width: 60vw;
  margin: auto;
}

.element {
  display: inline-block;
  border-radius: 50px;
  border: 1px solid #555;
  color: #555;
  width: 2.7vw;
  height: 2.7vw;
  line-height: 2.7vw;
  text-align: center;
  margin: 1vw .3vw;
}

.spot {
  display: inline-block;
  text-align: center;
}

.row-0 {
  text-align: left;
  margin: 2vw auto;
}
.row-0 .spot {
  width: 100%;
}

.row-1 {
  text-align: left;
  margin: 2vw auto;
}
.row-1 .spot {
  width: 50%;
}

.row-2 {
  text-align: left;
  margin: 2vw auto;
}
.row-2 .spot {
  width: 25%;
}

.row-3 {
  text-align: left;
  margin: 2vw auto;
}
.row-3 .spot {
  width: 12.5%;
}

.row-4 {
  text-align: left;
  margin: 2vw auto;
}
.row-4 .spot {
  width: 6.25%;
}

connection {
  z-index: -1;
  border: 3px solid;
  border-radius: 100%;
  color: gray;
  color: rgba(0, 0, 0, 0.5);
}
